<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420243960955-lbkqlqckldccdqbblkbrte6e2iij9olu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420243960955-lbkqlqckldccdqbblkbrte6e2iij9olu</string>
	<key>API_KEY</key>
	<string>AIzaSyDnE36wbrQOuFoQtFVEvmAWuKjfhgj61iA</string>
	<key>GCM_SENDER_ID</key>
	<string>420243960955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-a6414</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-a6414.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420243960955:ios:59f1f6eb6a753a859c5ede</string>
</dict>
</plist>